<% if @users.size>0 %>
<h2>Listing <%= pluralize(@users.count,"user")%> </h2>
<table>
  <tr>
	<th>Id</th>
    <th>Email</th>
    <th>role</th>
    <th></th>
    <th></th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.email %></td>
    <td><%= user.role %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
  </tr>
<% end %>
</table>
<% else %>
<h2><%=pluralize(@users.count,"user")%> found</h2>
<% end %>
<br />

<%= link_to 'new user' , new_user_path%>