<h2><%=@performances.first.station%></h2>
<table>
	<tr>
	  <td valign="top">
		<div style="border-size:1px; border-color: gray; border-style:solid;width:300px; padding:10px;">
		    <strong>Avg $/Gal: </strong><%="#{(@performances.average(:cost_gallon)).round(3)}"%><br/>
		    <strong>Most Frequent Vehicle: </strong><%=link_to "#{@user.car.make} #{@user.car.model}", car_info_path(@user.id)%><br/>
			<strong>Most Frequent Costumer: </strong><%=link_to "#{@user.name}",user_path(@user.id) %>
		</div>
	 </td>	
	  <td>
		 <div id='graphic_averige_cost_gallon'>	   
		 </div>
	 </td>
	</tr>			
</table>
<%= render_chart(@graphic_averige_cost_gallon , 'graphic_averige_cost_gallon') %>	
<br/>
<h3>Latest Entries:</h3>
<div style="width:500px;margin:0px;padding:0px; ">
	<table  style="border-size:1px; border-color: gray; border-style:solid;width:500px; padding:2px;">
	  <tr>
	    <th>Station</th>
	    <th>Date p</th>
	    <th>Kilometers</th>
	    <th>Gallons</th>
	    <th>Cost</th>
	    <th>Cost gallon</th>
	    <th>Km gallon</th>
	  </tr>
	<% @performances.each do |performance| %>   
	  <tr>
	    <td><%= performance.station %></td>
	    <td><%= performance.date_p %></td>
	    <td><%= performance.kilometers %></td>
	    <td><%= performance.gallons %></td>
	    <td><%= performance.cost %></td>
	    <td><%= performance.cost_gallon %></td>
	    <td><%= performance.km_gallon %></td>
	  </tr>
	<% end %>
	</table>
				<%= paginate @performances %>
	<br />
</div>