<div id="header">
	<div id="logo"><%=link_to content_tag(:span, 'Digi', :class=>"orange")+" Odometer",root_path %></div>
	<% if user_signed_in? %>
	   <div style="float:right; padding-right:240px;color:white;">Hello <%=link_to current_user.name, profile_path %> | 
	  <%= link_to "Sign out", destroy_user_session_path %> </div>
	  <%= render 'layouts/menu' %>
	<% else %>
	   <div style="float:right; padding-right:240px;color:white;"> <%=link_to "Register", new_user_registration_path %> | 
	  <%= link_to "Sign in", new_user_session_path %> </div>
    <% end %>
</div>