<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Digi Odometer</title>
   <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <script src='http://www.google.com/jsapi'></script> 
</head>
<body>
<div id="container">
	<!-- header -->
      <%= render 'layouts/header' %>
    <!--end header -->
    <!-- main -->
    <div id="main">
       <div id="content">
	       <p class="notice"><%= notice %></p>
	       <p class="alert"><%= alert %></p>
        	<div id="text">
	     	  <%= yield %>
	    	 </div> 
       </div>
    </div>
    <!-- end main -->
    <!-- footer -->
     <%= render 'layouts/footer' %>
    <!-- end footer -->
</div>
</body>
</html>

